# Dependencies
node_modules/
.pnp/
.pnp.js

# Build
dist/
build/

# Testing
coverage/

# Misc
.DS_Store
*.log

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.example
.env.development.local
.env.test.local
.env.production.local

# Credentials
config/google-credentials.json
